{# templates/page/cgu.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}CGU - MadaMarket{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <h1>📋 Conditions Générales d'Utilisation</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        <h2>Article 1 - Objet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        
        <h2>Article 2 - Accès au site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit.</p>
        
        <h2>Article 3 - Responsabilités</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur sint occaecat cupidatat non proident.</p>
    </div>
</div>
{% endblock %}