version: '3.8'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: madamarket
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  adminer:
    image: adminer
    ports:
      - "8080:8080"
volumes:
  db_data:

networks:
  default:
    external:
      name: my-predefined-network

environment:
  DATABASE_URL: "mysql://root:secret@127.0.0.1:3306/madamarket?serverVersion=8.0"