{# templates/reset_password/email.html.twig #}
<h1>Bonjour !</h1>

<p>Vous avez demandé à réinitialiser votre mot de passe sur MadaMarket.</p>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

<p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        Réinitialiser mon mot de passe
    </a>
</p>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Si vous n'avez pas demandé cette réinitialisation, ignorez simplement cet email.</p>

<p>Cordialement,<br>L'équipe MadaMarket</p>